@page "/"

<h1>LightningChart JS + Blazor</h1>

This is an example template that demostrates the use of LightningChart JS with Blazor.
Using this template you will get an understanding of how to create a wrapper that communicates with your Blazor page using Blazor's <a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-3.1">JS Interop</a> features.

<div class="alert alert-secondary mt-4" role="alert">
    For more information on LightningChart JS click <a target="_blank" href="https://www.arction.com/lightningchart-js/">here</a>.
</div>
